@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  from {
    box-shadow:
      0 0 10px transparent,
      0 0 20px #fff,
      0 0 40px #e879f9,
      0 0 70px #e879f9;
  }
  to {
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #e879f9,
      0 0 35px #e879f9;
  }
}
.glow-animation {
  animation: glow 2.5s ease-in-out infinite alternate;
}

.pos-0-0 {
}
.pos-0-1 {
  transform: translateX(6.2rem);
}
.pos-0-2 {
  transform: translateX(12.3rem);
}
.pos-0-3 {
  transform: translateX(18.4rem);
}

.pos-1-0 {
  transform: translateY(6.2rem);
}
.pos-1-1 {
  transform: translateX(6.2rem) translateY(6.2rem);
}
.pos-1-2 {
  transform: translateX(12.3rem) translateY(6.2rem);
}
.pos-1-3 {
  transform: translateX(18.4rem) translateY(6.2rem);
}

.pos-2-0 {
  transform: translateY(12.3rem);
}
.pos-2-1 {
  transform: translateX(6.2rem) translateY(12.3rem);
}
.pos-2-2 {
  transform: translateX(12.3rem) translateY(12.3rem);
}
.pos-2-3 {
  transform: translateX(18.4rem) translateY(12.3rem);
}

.pos-3-0 {
  transform: translateY(18.4rem);
}
.pos-3-1 {
  transform: translate(6.2rem, 18.4rem);
}
.pos-3-2 {
  transform: translateX(12.3rem) translateY(18.4rem);
}
.pos-3-3 {
  transform: translateX(18.4rem) translateY(18.4rem);
}
.tile-2 {
  background: #efabcb;
  font-size: 2.5rem;
}
.tile-4 {
  background: #fca5fd;
  font-size: 2.5rem;
}
.tile-8 {
  background: #d95fcc;
  color: white;
  font-size: 2.5rem;
}
.tile-16 {
  background: #eabdf7;
  font-size: 2.5rem;
}
.tile-32 {
  background: #b965a3;
  color: white;
  font-size: 2.5rem;
}
.tile-64 {
  background: #6b2d68;
  color: white;
  font-size: 2.5rem;
}
.tile-128 {
  background: #56018c;
  color: white;
  font-size: 2rem;
}
.tile-256 {
  background: #9744ee;
  color: white;
  font-size: 2rem;
}
.tile-512 {
  background: #eb21b6;
  color: white;
  font-size: 2rem;
}
.tile-1024 {
  background: #e66a86;
  color: white;
  font-size: 1.8rem;
}
.tile-2048 {
  background: #f1a56b;
  font-size: 1.8rem;
}
.tile-4096 {
  background: #f9e644;
  font-size: 1.8rem;
}
.tile-8192 {
  background: #05ffcf;
  font-size: 1.8rem;
}
.tile-16384 {
  background: #4d7dbc;
  color: white;
  font-size: 1.5rem;
}
.tile-32768 {
  background: #1f1853;
  color: white;
  font-size: 1.5rem;
}

@keyframes new-tile {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.tile-new {
  animation: new-tile 250ms ease-in-out 0ms;
}

@keyframes merged-tile {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.tile-merged {
  animation: merged-tile 200ms ease-in-out 0ms;
}
